[Unit]
Description=HomeBus network activity publisher
After=network.target

[Service]
Type=simple

User=homebus
WorkingDirectory=/home/homebus/homebus-snmp

ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec homebus-network-activity.rb -a 10.0.1.1 -c public -N eth1
TimeoutSec=30

Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
